.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    font-size: 30px;
    text-align: center;
    background-color: tomato;
    float: right;
}
p{
    /* To stop floating use clear */
    clear: left;
}